<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        alert("进入方法");
        /*$.post(
            {
                url : "./getAnimal",
                //设置请求头参数
                headers : {id : '1'},
                //成功后的方法

                success : function (animal) {
                    if (animal==null || animal.id==null){
                        alert("获取失败");
                        return;
                    }
                    alert("id=" + animal.id + ",animal_name="+ animal.name+",runmethd="+animal.runmenthd)
                }
            }
        );*/

        var httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
        httpRequest.open('POST', 'http://localhost:8086/test/getAnimal', true); //第二步：打开连接
        httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded",);//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）
        httpRequest.setRequestHeader("id",1);
        httpRequest.send('');//发送请求 将情头体写在send中
        /**
         * 获取数据后的处理程序
         */
        httpRequest.onreadystatechange = function () {//请求后的回调接口，可将请求成功后要执行的程序写在其中
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {//验证请求是否发送成功
                var json = httpRequest.responseText;//获取到服务端返回的数据
                console.log(json);
                alert("到达了这")
                alert(json)
            }
        };
    </script>
</head>
<body>
    <div>你好</div>
    <!--restart.exclude.companycommonlibs=/mycorp-common-[\w-]+.jar
restart.include.projectcommon=/mycorp-myproj-[\w-]+.jar-->
</body>
</html>